doctype html
html(lang='en')
    head
        link(rel="stylesheet", href="/semantic/dist/semantic.min.css")
        link(rel="stylesheet", href="/styles/main.css")
        meta(charset="utf-8")
        title React Test

    body
        block content
        script(src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js")
        script(src="/semantic/dist/semantic.min.js")
        script(src="/components/app.js")
