.ui.inverted.vertical.masthead.jumbo-tron {
    min-height: 700px;
    background-image: url('//img01.deviantart.net/dfd9/i/2015/140/a/e/chalkboard_by_lorelinde-d8u2l4g.jpg');
}
.ui.inverted.header.main-header {
    margin-top: 3em;
    margin-bottom: 0.5em;
    font-size: 4em;
    font-weight: normal;
}
.sign-in-button {
    display: inline;
}